footer {
  background: $colour_brand_dark_blue;
  color: white;
  margin-top: 5rem;
  aside {
    display: flex;

    justify-content: space-between;
    @media screen and (max-width: 720px) {
      flex-direction: column;
      align-items: flex-start;
    }
    #contact_info_sidebar-3 {
      h1 {
        border-bottom: 2px solid white;
        margin-top: 0;
        &:after {
          padding: 0;
          border: unset;
        }
      }
      h2 {
        font-weight: bold;
        font-size: 1rem;
      }
      a {
        color: white;
      }
      p {
        margin: 0;
      }
    }
    section {
      margin-bottom: 3rem;
      .widget-title {
        display: inline;
        font-size: 1rem;
        border-bottom: 2px solid white;
      }
    }
  }
}

.footer-regulation-info {
  margin: 1rem auto;
}
.page_item {
  a {
    color: white;
  }
}
.widget ul .current_page_item {
  li {
    margin: 0.5rem 0;
  }
  a {
    &:before {
      @include right_arrow;
    }
  }
}

.footer-layout-wrapper {
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  padding: 5%;
  flex-direction: column;
  justify-content: center;
}
