#masthead {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100vw;
  height: 80px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
  #site-navigation {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 0 2% 0 2%;
    .site-logo {
      color: $colour_brand_blue;
      font-size: 1.5rem;
      &:hover {
        text-decoration: none;
      }
      svg {
        path,
        rect {
          fill: $colour_brand_blue;
        }
      }
      p {
        margin: 12px 0;
      }
    }
  }
}

#nav-secondary {
  padding: 0 2% 0 2%;
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  a {
    color: $colour_brand_blue;
    margin: 0 0.5rem;
  }
}

.menu {
  display: flex;
  justify-content: flex-end;
  margin: 12px 0 0 0;

  li {
    display: inline;
    margin: 0 0.8rem;
    a {
      color: $colour_brand_blue;
    }
  }
}
