#masthead {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
  position: fixed;
  padding-top: 10px;
  top: 0;
  z-index: 50;
  background: white;
  transition: all 0.5s;
  #site-navigation {
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
    padding: 0 2% 0 2%;
    .site-branding {
      justify-self: flex-start;
      margin-right: auto;
    }
    .site-logo {
      color: $colour_brand_blue;
      font-size: 1.5rem;
      &:hover {
        text-decoration: none;
      }
      svg {
        path,
        rect {
          fill: $colour_brand_blue;
        }
      }
      p {
        margin: 12px 0;
      }
    }
  }
}

#nav-secondary {
  padding: 0 2% 0 2%;
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  a {
    color: $colour_brand_blue;
    margin: 0 0.5rem;
  }
}

.menu {
  display: flex;
  justify-content: flex-end;
  margin: 12px 0 0 0;
  li {
    display: inline;
    margin: 0 0.8rem;
    a {
      color: $colour_brand_blue;
    }
  }
}

#site-navigation {
  .aws-wrapper {
    .aws-search-field {
      border: none;
      border-bottom: 2px $colour_brand_blue solid;
      height: 3em;
    }
  }
  .aws-search-btn {
    display: none;
  }
  .aws-container {
    display: none;
  }
}

.search-button-toggle {
  font-size: 1.25rem;
  margin: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  color: $colour_text_black;
  font-weight: 500;
}

#masthead.site-header-static {
  background: transparent;
  border: none;

  #site-navigation {
    .site-logo {
      svg {
        path,
        rect {
          fill: white;
        }
      }
    }
  }
  div {
    a {
      // font-weight: $font_weight_medium;
      @include text_shadow_base;
      color: white;
    }
  }
  .aws-search-field {
    background: transparent;
    color: white;
    border-color: white;
    &::placeholder {
      color: white;
    }
  }
  .search-button-toggle {
    color: white;
  }
}

#nav-primary {
  position: relative;
  margin-right: 0.5em;
  &:after {
    content: "";
    height: 120%; //You can change this if you want smaller/bigger borders
    width: 1px;

    position: absolute;
    right: 0;
    top: -10%; // If you want to set a smaller height and center it, change this value

    background-color: $colour_light_grey; // The color of your border
  }
}
