#masthead {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
  position: fixed;
  padding-left: 5%;
  top: 0;
  z-index: 50;
  background: white;
  transition: all 0.5s;
  .topbar-menu-items {
    flex: 1 1 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10px;
  }
  #site-navigation {
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
    padding: 0 2% 0 2%;
  }
  .site-branding {
    margin-top: 18px;

    .site-logo {
      color: $colour_brand_blue;
      font-size: 1.5rem;
      &:hover {
        text-decoration: none;
      }
      svg {
        path,
        rect {
          fill: $colour_brand_blue;
        }
      }
      p {
        margin: 12px 0;
      }
    }
  }
}
#nav-secondary {
  padding: 0 2% 0 2%;
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  a {
    color: $colour_brand_blue;
    margin: 0 0.5rem;
  }
}

.menu {
  display: flex;
  justify-content: flex-end;
  margin: 12px 0 0 0;
  li {
    display: inline;
    margin: 0 0.8rem;
    a {
      color: $colour_brand_blue;
    }
  }
}

#site-navigation {
  .aws-wrapper {
    .aws-search-field {
      border: none;
      border-bottom: 2px $colour_brand_blue solid;
      height: 3em;
    }
  }
  .aws-search-btn {
    display: none;
  }
  .aws-container {
    display: none;
  }
}

.search-button-toggle {
  font-size: 1.25rem;
  margin: 6px 0 0 0;
  z-index: 50;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  color: $colour_text_black;
  font-weight: 500;
  width: 32px;
  height: 32px;
}

#masthead.site-header-static {
  background: transparent;
  border: none;

  .site-branding {
    .site-logo {
      svg {
        path,
        rect {
          fill: white;
        }
      }
    }
  }

  div {
    a {
      // font-weight: $font_weight_medium;
      @include text_shadow_base;
      color: white;
    }
  }
  .aws-search-field {
    background: transparent;
    color: white;
    border-color: white;
    &::placeholder {
      color: white;
    }
  }
  .search-button-toggle {
    color: white;
  }
}

#nav-primary {
  position: relative;
  margin-right: 0.5em;
  &:after {
    content: "";
    height: 120%; //You can change this if you want smaller/bigger borders
    width: 1px;

    position: absolute;
    right: 0;
    top: -10%; // If you want to set a smaller height and center it, change this value

    background-color: $colour_light_grey; // The color of your border
  }
}

#screen-overlay {
  position: fixed;
  z-index: 50;
  margin: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(50, 50, 50, 0.5);
  display: none;
}

.header-menu-button {
  position: fixed;
  right: 5%;
  top: 5vh;
  font-size: 2rem;
  transform: translateY(-50%);
  display: none;
  @media screen and (max-width: 900px) {
    display: block;
  }
}

.site-header-static {
  .header-menu-button {
    color: white;
  }
}

@media screen and (max-width: 900px) {
  #masthead {
    .topbar-menu-items {
      #nav-secondary {
        a {
          margin: 0.5rem 0;
          color: $colour_brand_blue;
          text-shadow: none;
        }
      }
    }
  }
  .topbar-menu-items {
    transition: all 0.5s;
    position: fixed;
    right: 0;
    top: 0;
    background: white;
    padding: 5% 0 5% 5%;
    z-index: 100;
    transform: translateX(100vw);
    border-left: 1px solid $colour_light_grey;
    #nav-secondary,
    #site-navigation {
      flex-direction: column;
      align-items: flex-start;
      .aws-container {
        display: block;
        margin-top: 1.5rem;
        margin-right: 20px;
        .aws-search-field {
          color: $colour_brand_blue;
          border-color: $colour_brand_blue;
          font-size: 1rem;
          &::placeholder {
            color: $colour_light_grey;
          }
        }
      }
      .search-button-toggle {
        display: none;
      }
    }
    #nav-primary {
      li {
        margin: 0.5rem 0;
        a {
          color: $colour_text_black;
          text-shadow: none;
        }
      }
    }
    #nav-secondary,
    #nav-primary {
      margin: 2rem 0;
      font-size: 1rem;
    }
    #nav-primary:after {
      display: none;
    }
    .menu {
      flex-direction: column;
    }
  }
}
