.hero-banner-wrapper {
  height: 100vh;
  width: 100%;
  margin-top: -10vh;
  position: relative;
  border-bottom: 10px solid #9b9b9b;
  .hero-image-filter {
    position: absolute;
    background: rgba(32, 44, 75, 0.47);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      color: white;
      font-size: 3rem;
      text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
    }
  }
}
#home-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin: 6rem auto;
  padding: 5%;
  padding-top: 0;
  h1,
  p {
    text-align: center;
  }
  p {
    line-height: 2em;
  }
  h1 {
    margin: 0 0 4rem 0;
    font-size: 3rem;
    &:after {
      @include blue_underline;
    }
  }
}

#home-section-1 {
  background-size: cover;
}
.section-1-filter {
  background: rgba(37, 53, 85, 0.5);
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  padding: 5rem 0;
  .section-1-content {
    display: flex;
    max-width: 900px;
    min-height: 500px;
    margin: 0 auto;
    align-items: stretch;
    .section-1-content-text {
      flex: 1;
      display: flex;
      max-width: 50%;
      flex-direction: column;
      align-items: center;
      background: #ffffff;
      text-align: center;
      padding: 10%;
      h2 {
        font-size: 2rem;
        &:after {
          @include blue_underline;
        }
      }
    }
    .section-1-content-image {
      flex: 1;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}

#home-section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f4fffd;
  h2 {
    margin: 6rem auto;
    font-size: 2rem;
    &:after {
      @include blue_underline;
      width: 6rem;
    }
  }
  img {
    width: 100%;
    max-height: 350px;
  }
  p {
    @include text_body;
    max-width: 900px;
    margin: 4rem 5%;
  }
  .learn-more {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
}

#home-reports {
  margin-bottom: 8rem;
  h2 {
    margin: 5rem auto 3rem auto;
    @include text_heading;
    font-size: 2rem;
    &:after {
      @include blue_underline;
    }
  }
  & > p {
    margin: 0 5% 4rem 5%;
  }
}

.home-reports-categories-grid {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-bottom: 4rem;
  .single-report-category-wrapper {
    background-size: cover;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    min-height: 300px;
    height: 100%;
    text-decoration: none;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgb(0, 0, 0);
      opacity: 0.3;
      transition: all 0.2s;
    }
    &:hover {
      & > p {
        max-height: 50%;
        opacity: 1;
        text-decoration: none;
      }
      &:after {
        opacity: 0.1;
      }
    }
    h3 {
      color: white;
      text-decoration-color: white;
      z-index: 10;
      @include text_shadow_base;
    }
    p {
      z-index: 10;
      color: white;
      max-height: 0;
      margin: 0;
      transition: all 0.3s;
      opacity: 0;
      text-decoration-line: none;
      @media screen and (max-width: 900px) {
        max-height: 50%;
        opacity: 1;
      }
      &:after {
        @include right_arrow;
      }
    }
  }
}

#home-section-3 {
  background-size: cover;
  .section-3-filter {
    background: rgba(0, 0, 0, 0.5);
    padding: 8vw 5vw;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .section-3-title {
      color: white;
      margin-top: 0px;
      margin-bottom: 3rem;
      @include text_shadow_base;
      &:after {
        @include blue_underline;
      }
    }
    .section-3-filter-blue {
      background: rgba(56, 111, 164, 0.61);
      flex: 1;
      padding: 3% 5% 5% 5%;
      .section-3-content {
        color: white;
      }
    }
    .learn-more-blue {
      @include learn_more;
      color: white;
      text-align: center;
      display: block;
      text-decoration: underline;
    }
  }
}

.screen-reader-text {
  display: none;
}
