a {
  color: $colour_text_black;
  text-decoration: none;
  transition: all 5s;
  &:hover {
    text-decoration: underline;
  }
}

.learn-more {
  @include learn_more;
  margin-top: 3rem;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-inline-start: 0;
}

.blue-underline {
  &:after {
    @include blue_underline;
  }
}
