a {
  color: $colour_brand_blue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.learn-more {
  @include learn_more;
  margin-top: 3rem;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-inline-start: 0;
}

.blue-underline {
  &:after {
    @include blue_underline;
  }
}

.woocommerce-Message,
.woocommerce-message {
  a {
    color: $colour_brand_blue;
    text-transform: capitalize;
    padding: 0;
    text-decoration: underline;
    background: white;
    font-size: 1em;
  }
}
