a {
  color: #121212;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.learn-more {
  @include learn_more;
  margin-top: 3rem;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-inline-start: 0;
}
