@mixin blue_underline {
  content: "";
  display: block;
  margin: 0 auto;
  padding-top: 30px;
  border-bottom: 2px solid $colour_brand_blue;
  width: 2em;
}

@mixin text_body {
  line-height: 2em;
  text-align: center;
}
@mixin text_heading {
  line-height: 1.5em;
  text-align: center;
}

@mixin right_arrow {
  content: " \203A";
  font-family: "Open Sans", arial, sans-serif;
  margin-right: 0.5rem;
}
@mixin learn_more {
  color: $colour_brand_blue;
  font-weight: $font_weight_medium;
  &:after {
    @include right_arrow;
  }
}

@mixin text_shadow_base {
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}
