.page-banner-image {
  height: 20vh;
  background-position: center;
  background-size: cover;
  border-bottom: 5px solid #9b9b9b;
}

.entry-footer {
  background: white;
}

.site-content {
  margin-top: 10vh;
}
