.shop-layout-sidebar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  .shop-sidebar-main {
    padding-right: 5%;
  }
  .shop-layout-sidebar-aside {
    margin: 1rem;
  }
}
.type-product {
  list-style-type: none;
}

.widget_product_categories {
  margin-top: 3rem;
  .widget-title {
    font-size: 18px;
  }
}
.product-categories {
  padding-inline-start: 1rem;
  li {
    list-style-type: none;
    margin: 0.5rem 0;
    a {
      font-size: 14px;
    }
  }
}

.woocommerce-products-header {
  text-align: center;
  font-size: 28px;
  margin: 2rem;
}

.woocommerce-ordering {
  display: flex;
  justify-content: flex-end;
}

.single-product-author-wrapper {
  margin-right: 3rem;
  .single-product-institution,
  .single-product-author,
  .single-product-date {
    color: lighten($colour_text_black, 10%);
  }
}

.products.columns-4 {
  margin-top: 0;
  li:first-child {
    padding-top: 0;
  }
}
