@font-face {
  font-family: "Merriweather Sans";
  src: url("../assets/fonts/MerriweatherSans-Light.eot");
  src: url("../assets/fonts/MerriweatherSans-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/MerriweatherSans-Light.woff2") format("woff2"),
    url("../assets/fonts/MerriweatherSans-Light.woff") format("woff"),
    url("../assets/fonts/MerriweatherSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather Sans";
  src: url("../assets/fonts/MerriweatherSans-LightItalic.eot");
  src: url("../assets/fonts/MerriweatherSans-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/MerriweatherSans-LightItalic.woff2") format("woff2"),
    url("../assets/fonts/MerriweatherSans-LightItalic.woff") format("woff"),
    url("../assets/fonts/MerriweatherSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Merriweather Sans";
  src: url("../assets/fonts/MerriweatherSans-Regular.eot");
  src: url("../assets/fonts/MerriweatherSans-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/MerriweatherSans-Regular.woff2") format("woff2"),
    url("../assets/fonts/MerriweatherSans-Regular.woff") format("woff"),
    url("../assets/fonts/MerriweatherSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather Sans";
  src: url("../assets/fonts/MerriweatherSans-Bold.eot");
  src: url("../assets/fonts/MerriweatherSans-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/MerriweatherSans-Bold.woff2") format("woff2"),
    url("../assets/fonts/MerriweatherSans-Bold.woff") format("woff"),
    url("../assets/fonts/MerriweatherSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: $font_main;
  font-size: $font_size_base;
  font-weight: $font_weight_light;
  color: $colour_text_black;
}
