$colour_brand_blue: #6e9cf6;
$colour_text_black: #515151;

$base-spacing-unit: 1.5rem;

$font_main: "Roboto", Sans-serif;
$font_size_base: 16px;

$font_weight_light: 300;
$font_weight_medium: 500;
$font_weight_bold: bold;
